.modalContainer {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 998;
	width: 100hw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);

	display: flex;
	justify-content: center;
	align-items: center;

	animation: fadeInAnimation ease 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modalBlock {
	width: 50%;
	height: 30vw;
	background-color: rgba(46, 54, 66, 0.95);
	border-radius: 25px;
	padding: 50px;
	color: black;
	z-index: 999;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	justify-content: space-between;
}

.modalClose {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 800;
	border-radius: 10px;
	border: solid 2px #aaaaaa;
	text-transform: uppercase;
	color: #aaaaaa;
	cursor: pointer;
}

.modalClose:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
