.container {
	display: flex;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.main {
	gap: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
