.container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 15px;
}

.gameFeatured {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.image {
  position: relative;
  width: 40vw;
  height: 25vw;
}

.gameInfo {
  width: 35vw;
  padding-left: 20px;
}
.gameSuperTitle {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.gameTitle {
  padding: 0;
  margin: 0;
}

.gameDesc {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.gameButton {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: #253b69;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.gameButton:hover {
  background: #253b69cc;
}

.contentList {
  padding-top: 50px;
}

