.container {
	padding: 10px;
}

.userPanelHeader {
	padding: 10px;
	display: flex;
}

.userProfile {
	flex: 1;
	display: flex;
	background-color: rgba(255, 255, 255, 0.1);
	margin-right: 20px;
	-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
	box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.27);
	padding: 20px 5px;
	border-radius: 25px;
}

.userImage {
	padding: 0px 20px;
}

.image {
	border-radius: 20px;
}

.userName {
	font-size: 30px;
	margin: 0;
}

.userAdditionalInfo {
	margin: 0;
	font-size: 15px;
	font-weight: 400;
}

.userSummary {
	flex: 2;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}
